<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="orion" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.13.1.v20171009-0410"/>
<unit id="org.eclipse.platform.feature.group" version="4.7.1.v20171009-0410"/>
<unit id="org.eclipse.rcp.feature.group" version="4.7.1.v20171009-0410"/>
<repository location="http://download.eclipse.org/releases/oxygen/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.6.0.201706141832"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/2.6.0/"/>
</location>
</locations>
</target>
