<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="orion" sequenceNumber="3">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.jdt.feature.group" version="3.13.3.v20180301-0715"/>
            <unit id="org.eclipse.platform.feature.group" version="4.7.3.v20180301-0715"/>
            <unit id="org.eclipse.rcp.feature.group" version="4.7.3.v20180301-0715"/>
            <repository location="http://download.eclipse.org/releases/oxygen/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.6.0.201706141832"/>
            <repository location="http://download.eclipse.org/technology/swtbot/releases/2.6.0/"/>
        </location>
    </locations>
</target>
