.logo {
  font-weight: bolder;
}

.muted {
  color: #9e9e9e;
}

footer {
  margin-top: 40px;
  padding: 20px 0;
}

footer .row {
  margin: 0;
}

footer a {
  color: white;
  font-weight: bolder;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.card-grid img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media ( max-width : 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

#pmd-release-notes-content h1 {
  font-size: 2rem;
}

#pmd-release-notes-content h2 {
  font-size: 1.695rem;
}

#pmd-release-notes-content ul {
  padding-left: 1rem;
}

#pmd-release-notes-content li {
  list-style-type: disc;
}
