<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (C) 2012 - 2013, Philip Graf

	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="ch.acanda.eclipse.pmd.builder.PMDBuilder"
         name="PMD Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true">
         <run
               class="ch.acanda.eclipse.pmd.builder.PMDBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="ch.acanda.eclipse.pmd.builder.PMDNature"
         name="PMD Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ch.acanda.eclipse.pmd.builder.PMDNature">
         </run>
      </runtime>
      <builder
            id="ch.acanda.eclipse.pmd.builder.PMDBuilder">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="pmdMarker"
         name="PMD Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="pmdLongMarker"
         name="PMD Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="ch.acanda.eclipse.pmd.core.pmdMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="/icons/warning.gif"
            id="ch.acanda.eclipse.pmd.core.imageprovider.pmdMarker"
            markertype="ch.acanda.eclipse.pmd.core.pmdMarker">
      </imageprovider>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ch.acanda.eclipse.pmd.properties.PMDProjectPropertyPage"
            id="ch.acanda.eclipse.pmd.properties.PMDProjectPropertyPage"
            name="PMD"
            nameFilter="*">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="ch.acanda.eclipse.pmd.marker.resolution.PMDMarkerResolutionGenerator"
            markerType="ch.acanda.eclipse.pmd.core.pmdMarker">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="ch.acanda.eclipse.pmd.marker.resolution.PMDMarkerResolutionGenerator"
            markerType="ch.acanda.eclipse.pmd.core.pmdLongMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="ch.acanda.eclipse.pmd.core.pmdMarker"
            name="ch.acanda.eclipse.pmd.core.pmdAnnotation">
      </type>
      <type
            markerType="ch.acanda.eclipse.pmd.core.pmdLongMarker"
            name="ch.acanda.eclipse.pmd.core.pmdLongAnnotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="ch.acanda.eclipse.pmd.core.pmdAnnotation"
            colorPreferenceKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.color"
            colorPreferenceValue="244,200,45"
            contributesToHeader="true"
            highlightPreferenceKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.highlight"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.goToNext"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.goToPrev"
            label="PMD Violations"
            overviewRulerPreferenceKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.overviewRuler"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.nextPrevToolbar"
            symbolicIcon="warning"
            textPreferenceKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.text"
            textPreferenceValue="true"
            textStylePreferenceKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.textStyle"
            textStylePreferenceValue="PROBLEM_UNDERLINE"
            verticalRulerPreferenceKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ch.acanda.eclipse.pmd.core.pmdLongAnnotation"
            colorPreferenceKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.color"
            colorPreferenceValue="244,200,45"
            contributesToHeader="true"
            highlightPreferenceKey="ch.acanda.eclipse.pmd.core.pmdLongAnnotation.highlight"
            highlightPreferenceValue="false"
            includeOnPreferencePage="false"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.goToNext"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.goToPrev"
            label="PMD Violations (multiline)"
            overviewRulerPreferenceKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.overviewRuler"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.nextPrevToolbar"
            symbolicIcon="warning"
            textPreferenceKey="ch.acanda.eclipse.pmd.core.pmdLongAnnotation.text"
            textPreferenceValue="false"
            textStylePreferenceKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.textStyle"
            textStylePreferenceValue="PROBLEM_UNDERLINE"
            verticalRulerPreferenceKey="ch.acanda.eclipse.pmd.core.pmdAnnotation.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>

</plugin>
