<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="Photon">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.jdt.feature.group" version="3.14.0.v20180611-0500"/>
            <unit id="org.eclipse.platform.feature.group" version="4.8.0.v20180611-0656"/>
            <unit id="org.eclipse.rcp.feature.group" version="4.8.0.v20180611-0656"/>
            <repository location="https://download.eclipse.org/releases/photon/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.7.0.201806111355"/>
            <repository location="http://download.eclipse.org/technology/swtbot/releases/2.7.0/"/>
        </location>
    </locations>
</target>